@use "../abstracts/" as *;
@use "typography" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-padding-top: var(--_navheight, 50px);
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--bg);
    color: var(--text);

    font-family: $fm;
    font-size: $p;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    #app {
        flex: 1;
    }
}


a {
    text-decoration-color: var(--accent);
    text-underline-offset: 3px;
    color: var(--text);

    white-space: nowrap;

    &:hover {
        opacity: .65;
    }
}



hr {
    margin-block: 2.5em;
    color: $seperator;
}


img,
svg {
    font-style: italic;

    background-repeat: no-repeat;
    background-size: cover;

    shape-margin: 1rem;
    border-radius: inherit;

    max-width: 100%;
    height: auto;

    vertical-align: middle;
    align-self: flex-start;
}

svg {
    width: 1em;
}