@use "../abstracts/" as *;
@use "../base/" as *;

#eventViewer .eventViewer__container {
    display: flex;
    flex-direction: column;

    &__hero {
        margin-block: 0 .5em;

        &__title {
            font-size: $h4;
        }

        &__time {
            opacity: .7;
        }

        p {
            margin: 0;
        }
    }

    &__content {
        margin: 0;

        &__description {
            max-width: 100ch;
        }

        &__images {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;

            &__image {
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 5px;
                width: 256px;
                height: 144px;

                cursor: pointer;
                position: relative;
                overflow: clip;
                z-index: 1;
                transition: box-shadow .3s ease, width .3s ease, scale .3s ease;

                &:hover {
                    scale: 1.025;
                    box-shadow: 0 0 40px hsl(0 0% 50% / .5);
                }

                img {
                    min-height: 100%;
                    min-width: 100%;

                    border-radius: inherit;
                    pointer-events: none;
                }
            }

        }
    }

}